main {

  .content-flex {
    height: 100vh;
    align-items: center;
  }
  .flex-register {
    height: 100vh;
    align-items: initial;
  }

  .container-home {
    background-color: $background-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: $text-secondary;
    text-align: center;

    h2, h6 {
      font-weight: 600;
    }
  }
  .container-register{
    height: auto;
  }

  .container-form{
    height: 100%;
    background-color: $background-secondary;
    display: flex;
    align-items: center;
    justify-content: center;

    .content-form{
      padding: 12px;
      width: 100%;

      form{
        width: 50%;

        input {
          margin-bottom: 10px;
        }

        .container-buttons{
          display: flex;
          justify-content: flex-end;

        }
      }

    }
  }
  .form-register{
    height: auto;
    .content-form {

      form{
        width: 100%;

        select {
          margin-bottom: 10px;
        }
      }
    }
  }
}
