@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap);
* {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  outline: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body nav ul {
  width: 100%;
  justify-content: center !important;
}

main .content-flex {
  height: 100vh;
  align-items: center;
}
main .flex-register {
  height: 100vh;
  align-items: initial;
}
main .container-home {
  background-color: #2980b9;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #fff;
  text-align: center;
}
main .container-home h2, main .container-home h6 {
  font-weight: 600;
}
main .container-register {
  height: auto;
}
main .container-form {
  height: 100%;
  background-color: #ecf0f1;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .container-form .content-form {
  padding: 12px;
  width: 100%;
}
main .container-form .content-form form {
  width: 50%;
}
main .container-form .content-form form input {
  margin-bottom: 10px;
}
main .container-form .content-form form .container-buttons {
  display: flex;
  justify-content: flex-end;
}
main .form-register {
  height: auto;
}
main .form-register .content-form form {
  width: 100%;
}
main .form-register .content-form form select {
  margin-bottom: 10px;
}

main .container-actions {
  padding: 16px 8px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .container-actions form {
  width: 100%;
}
main .container-actions form input:not([type=checkbox]) {
  width: 100%;
}
main .container-actions form select {
  width: 100%;
}
main .container-origin {
  display: flex;
  align-items: center;
}
main .container-table {
  width: 100%;
  margin-top: 12px;
  padding: 8px;
}
main .container-table table th {
  text-align: center;
}
main .container-table table td {
  text-align: center;
}

