@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap);
* {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  outline: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

main .content-flex {
  height: 100vh;
  align-items: center;
}
main .container-home {
  background-color: #2980b9;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #fff;
  text-align: center;
}
main .container-home h2, main .container-home h6 {
  font-weight: 600;
}
main .container-form {
  height: 100%;
  background-color: #ecf0f1;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .container-form .content-form {
  padding: 12px;
  width: 100%;
}
main .container-form .content-form form {
  width: 50%;
}
main .container-form .content-form form input {
  margin-bottom: 10px;
}
main .container-form .content-form form .container-buttons {
  display: flex;
  justify-content: flex-end;
}
main .container-form .content-form form .container-buttons button {
  width: 100%;
}

